.nav{
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.nav-item{
    color: #ffffff;
    transition: .3s;
}
.nav-item:hover{
    text-decoration: underline;
}

@media (max-width: 678px) {
  .nav-item{
    padding: 16px 0;
  }
}